<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="moment.min.js"></script>
    <script src="main.js"></script>
    <title>WebSocket聊天室</title>
</head>
<body>
    <div id="app">
        Hi，{{ username }}。欢迎来到WebSocket聊天室！
        <hr/> 发送给：
        <select v-model="sendTo">
            <option value="All">全部</option>
            <option v-for="user in userList" :value="user">{{user}}</option>
        </select>
        <hr/>
        <input id="text" type="text" v-model="message" />
        <button v-on:click="sendMessage">发送消息</button>
        <hr/>
        <button v-on:click="openWebSocket">打开WebSocket连接</button>
        <button v-on:click="closeWebSocket">关闭WebSocket连接</button>
        <button v-on:click="clearMessageList">清空聊天记录</button>
        <hr/>
        <div id="messageList" v-html="messageList">
            {{ messageList }}
        </div>
    </div>
</body>
</html>